name: Test permissions
on:
  push:
permissions: {}
jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - run: echo hello > world.txt
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: hello-world
          path: world.txt
