on:
  push:
  workflow_dispatch:

jobs:
  parse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: mdq
        uses: docker://ghcr.io/immich-app/mdq:main@sha256:9c905a4ff69f00c4b2f98b40b6090ab3ab18d1a15ed1379733b8691aa1fcb271
        with:
          entrypoint: /bin/sh
          args: -c "/mdq '#' README.md --output json | jq '.items[0].section.title' -r"
